<html>
  <head>
    <title>About Music Gear</title>
      <link href="{{ url_for('static', filename='navbar.css') }}"
        rel="stylesheet" />
  </head>
  <body>
    <div>
      <img src="/static/header.jpg" style="width: 100%">
    </div>
      <ul id="topul">
        <li id="topli"><a href="/">Home</a></li>
        <li id="topli"><a href="/guitars/">Guitars</a></li>
        <li id="topli"><a href="/amps/">Amplifiers</a></li>
        <li id="topli"><a href="/effects/">Guitar Effects</a></li>
        <li style="float:right"><a class="active" href="/about/">About</a></li>
      </ul>
    <p><center>Page created by Przemyslaw Szumlanski for Advanced Web
      Technologies module</p></center>
  </body>
</html>
