<!-- GUITARS PAGE --!>
<html>
  <head>
    <title>Guitars</title>
    <link href="{{ url_for('static', filename='navbar.css') }}"
      rel="stylesheet" />
  </head>
  <body>
    <div>
      <img src="/static/header.jpg" style="width: 100%;">
    </div>

    <!-- NAVIGATION BAR --!>
    <ul id="topul">
      <li id="topli"><a href="/">Home</a></li>
      <li id="topli"><a class="active" href="/guitars/">Guitars</a></li>
      <li id="topli"><a href="/amps/">Amplifiers</a></li>
      <li id="topli"><a href="/effects/">Guitar Effects</a></li>
      <li style="float:right"><a href="/about/">About</a></li>
    </ul>
    
    <!-- FILTER SIDEBAR --!>
    <div id="sidediv">
      <h3><center>Filter by brand:</center></h3>
      <ul id="sideul">
        <li id="sideli"><a href="/guitars/filter/fender">Fender</a></li>
        <li id="sideli"><a href="/guitars/filter/gibson">Gibson</a></li>
        <li id="sideli"><a href="/guitars/filter/gretsch">Gretsch</a></li>
      </ul>
    </div>
    

    <!-- MAIN CONTAINER FOR ITEMS(GUITARS) --!>
    <div id="container">
      {% for items in data %} <!-- ITERATE THROUGH ITEMS AND DISPLAY --!>
        <a href="/guitars/single/{{ items.id }}" class="div" id="items">
          <img src="{{ url_for('static', 
            filename='uploads/guitars/' + items.photo) }}" 
              style="height: 100%; width: 100%"/>
          <p><center>{{ items.brand + " " + items.model }}</p></center>
        </a>
      {% endfor %}
    </div>

    <div style="margin-top: 50px">
      <a href="/guitars/add" class="button">Add Guitar</a>
    </div>

  </body>
</html>
